/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: orange;
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
  /* background-color: white; */
  z-index: 999;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links2 {
  display: flex;
}

.navbar .links li a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s ease-in;
  font-family: "Poppins", sans-serif;
}

.navbar .links li a:hover {
  color: orange;
}

.navbar .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid transparent;
  letter-spacing: 1px;
}

.btn-daftar {
  margin-left: 10px;
}

.action_btn:hover {
  color: white;
  background-color: transparent;
  border: 1px solid orange;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 140px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu li a {
  font-family: "Poppins", sans-serif;
}

.dropdown-menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo a img {
  width: 80px;
  height: 80px;
}

.bg {
  position: relative;
  height: 100vh;
  background-image: url("assets/kantorbaru.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg::before {
  content: "";
  position: absolute; /* Menentukan posisi absolut untuk lapisan hitam */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Warna hitam transparan */
}

#particles-js {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

#hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
  z-index: 10;
  position: relative;
}

#hero-section .hero-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-btn {
  display: flex;
  gap: 1rem;
}

#hero-section div img {
  text-align: center;
}

#hero-section a {
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  border: 0.5px solid #fff;
  /* border-radius: 20px; */
  transition: 0.2s ease;
  letter-spacing: 2px;
}

#hero-section a:hover {
  background-color: orange;
  color: #fff;
  border-color: orange;
}

.container-hero {
  border-bottom: 3px dotted #eee;
  padding-bottom: 40px;
}

/* ABOUT */

#about {
  width: 100%;
  border-bottom: 3px dotted #eee;
  overflow: hidden;
  position: relative;
}

#about .container {
  display: flex;
  margin: 2rem 5rem 4rem;
  justify-content: center;
  align-items: center;
}

#about .container .box-1,
#about .container .box-2 {
  width: 50%;
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: #2a2a2a;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.about-desc {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #a1a1a1;
  font-weight: 300;
  text-align: justify;
}

.box-1 img {
  /* filter: grayscale(1); */
}

/* PELAYANAN */

#pelayanan {
  width: 100%;
  /* border-bottom: 3px dotted #eee; */
  padding-bottom: 5rem;
  overflow: hidden;
}

#pelayanan .container {
  margin: 0 5rem;
  margin-top: 40px;
}

#pelayanan .container .title-pelayanan h3 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.container .services-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.container .services-wrapper .service-box {
  width: 250px;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  overflow: hidden;
}

.services-wrapper .service-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 4px);
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.services-wrapper .service-box:nth-child(1)::before {
  background-color: #ff56ac;
}

.services-wrapper .service-box:nth-child(2)::before {
  background: #1bcaff;
}
.services-wrapper .service-box:nth-child(3)::before {
  background: orange;
}
.services-wrapper .service-box:nth-child(4)::before {
  background: blue;
}
.services-wrapper .service-box:nth-child(5)::before {
  background: yellow;
}

.services-wrapper .service-box:nth-child(6)::before {
  background: green;
}
.services-wrapper .service-box:nth-child(7)::before {
  background: #ff56ac;
}
.services-wrapper .service-box:nth-child(8)::before {
  background: #25d366;
}

.services-wrapper .service-box:hover::before {
  bottom: 0;
}

.services-wrapper .service-box a {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.service-box a div i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.service-box:nth-child(1) a div i {
  color: #ff56ac;
}

.service-box:nth-child(2) a div i {
  color: #1bcaff;
}
.service-box:nth-child(3) a div i {
  color: orange;
}
.service-box:nth-child(4) a div i {
  color: blue;
}
.service-box:nth-child(5) a div i {
  color: yellow;
}
.service-box:nth-child(6) a div i {
  color: green;
}
.service-box:nth-child(7) a div i {
  color: #ff56ac;
}
.service-box:nth-child(7) a div i {
  color: #ff56ac;
}
.service-box:nth-child(8) a div i {
  color: #25d366;
}

.service-box a h3 {
  font-family: "Poppins", sans-serif;
  color: #5f5f5f;
}

.service-box a:hover div i,
.service-box a:hover h3 {
  color: white;
}

/* FOOTER */
footer {
  width: 100%;
  height: 300px;
  position: relative;
}

footer p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #a1a1a1;
  font-weight: 300;
}

footer div svg {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }

  .about-title {
    font-size: 1.8rem;
  }

  .about-desc {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
    font-family: "Poppins", sans-serif;
  }

  #hero-section div img {
    width: 250px;
    height: 250px;
  }

  .hero-box img {
    height: 200px;
  }

  #about .container .box-1 {
    width: 100%;
    /* display: none; */
  }

  #about .container .box-1 img {
    /* filter: grayscale(1); */
    width: 200px;
    height: 200px;
  }

  #about .container {
    margin: 0;
    /* margin-top: 1rem; */
    padding-bottom: 3rem;
    flex-wrap: wrap;
  }

  #about .container .box-2 {
    width: 100%;
    margin: 0 1.5rem;
  }

  .about-title {
    font-size: 1.5rem;
    display: none;
  }

  .about-desc {
    text-align: center;
  }

  #pelayanan .container {
    margin: 2rem 1rem;
  }

  .container .services-wrapper .service-box {
    width: 100%;
    padding: 10px;
  }

  #pelayanan .container .title-pelayanan h3 {
    font-size: 1.5rem;
  }

  .service-box a h3 {
    font-size: 14px;
  }

  footer {
    height: 100px;
  }

  footer p {
    font-size: 14px;
  }

  footer div svg {
    margin-top: 2rem;
  }
}
